[submodule "ml/ref/handson-ml2"]
	path = ml/ref/handson-ml2
	url = https://github.com/ageron/handson-ml2
[submodule "basic/ref/pydata-book"]
	path = basic/ref/pydata-book
	url = https://github.com/wesm/pydata-book.git
[submodule "nlp/ref/embedding"]
	path = nlp/ref/embedding
	url = https://github.com/ratsgo/embedding.git
